.topbar {
  position: relative;
  display: flex;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1)
}

.topbar .top-navbar {
  min-height: 30px;
  padding: 15px;
  width: 260px;
}

.r-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: -10px;
}

.r-menu ul {
  display: flex;
  list-style: none;
}

/* .r-menu ul li{
  color: gray;
} */

body {
  padding: 0;
  margin: 0;
}

div[class~="MuiDataGrid-columnHeaders"] {
  background-color: #ececec !important
}